* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }

.container {
    width: 100vw;
    height: 100vh;
}

.slider-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 2rem 2rem;
    background-color: dimgray;
    row-gap: 2%;
}

.slider {
    display: flex;
    width: 100%;
    height: 81%;
    margin: 0 auto;
    align-items: center;
    overflow: hidden;
}

img {
    width: 100%;
    /* max-width: 60rem; */
    height: auto;
    object-fit: cover;
    /* display: none; */
    z-index: 3;
}

#slide1:checked ~ .slider #slide1,
#slide2:checked ~ .slider #slide2,
#slide3:checked ~ .slider #slide3,
#slide4:checked ~ .slider #slide4 {
  display: block;
}

.form-button {
    width: 100%;
    height: 19%;
    display: flex;
    justify-content: space-between;
}

.text-container {
    width: 80%;
    height: 100%;
}

.text-wrapper {
    display: flex;
    width: max-content;
    height: 1.87rem;
    overflow: hidden;
    align-items: center;
    margin-left: 0;
}

.slider-text {
    color: #fff;
    font-family: Inter;
    font-size: 1.56rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
}

.btn-container {
    width: 20%;
    height: 100%;
}

.button-wrapper {
    display: flex;
    width: 6.5rem;
    height: 1.87rem;
    margin-right: 0rem;
    align-items: center;
}

.transparent-container {
    display: flex;
    width: 1.62rem;
    height: 1.62rem;
    border: none;
    outline: none;
    align-items: center;
}

.btn {
    display: flex;
    width: 1rem;
    height: 1rem;
    padding: 0.31rem 0.31rem;
    border-radius: 50%;
    align-items: center;
    background: blue;
    border-color: blue;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Установите стили для активной кнопки */
#btn1:checked ~ .btn-container #btn1,
#btn2:checked ~ .btn-container #btn2,
#btn3:checked ~ .btn-container #btn3,
#btn4:checked ~ .btn-container #btn4 {
  background: red; /* Измените цвет на ваш выбор */
}