* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }

.container {
    width: 100vw;
}

.slider-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 2rem 2rem;
    background-color: dimgray;
    row-gap: 2%;
}

.slider {
    display: flex;
    max-width: 60rem;
    height: 81%;
    margin: 0 auto;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.btn {
    display: flex;
    width: 1rem;
    height: 1rem;
    padding: 0.31rem 0.31rem;
    border-radius: 50%;
    align-items: center;
    background: blue;
    border-color: blue;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

img {
    display: flex;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.form-button {
    width: 100%;
    height: 19%;
    display: flex;
    justify-content: space-between;
}

.text-wrapper {
    display: flex;
    height: 100%;
    overflow: hidden;
    align-items: flex-start;
}

.slider-text1,
.slider-text2,
.slider-text3,
.slider-text4 {
    display: flex;
    max-width: 100%;
    height: 1.87rem;
    align-items: center;
    color: #fff;
    font-family: Inter;
    font-size: 1.56rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}

.slider-text1 {
    margin-left: 0;
}

.button-wrapper {
    max-width: 6.5rem;
    display: flex;
    align-items: flex-start;
    margin-right: 0;
    gap: 0.8rem;
}

.btn-label {
    display: flex;
    width: 1rem;
    height: 1rem;
    padding: 0.31rem 0.31rem;
    border-radius: 50%;
    background: blue;
    border: solid 0.125rem blue;
    outline: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#btn1:checked ~ .slide1 {
    transform: translateX(0);
}

#btn2:checked ~ .slide2 {
    transform: translateX(-100%);
}

#btn3:checked ~ .slide3 {
    transform: translateX(-200%);
}

#btn4:checked ~ .slide4 {
    transform: translateX(-300%);
}


#btn1:checked ~ .form-button .text-wrapper .slider-text1 {
    transform: translateX(0);
}

#btn2:checked ~ .form-button .text-wrapper .slider-text2 {
    transform: translateX(-100%);
}

#btn3:checked ~ .form-button .text-wrapper .slider-text3 {
    transform: translateX(-200%);
}

#btn4:checked ~ .form-button .text-wrapper .slider-text4 {
    transform: translateX(-300%);
}

.button-wrapper label:hover {
    background: #fff;
    border: solid 0.125rem #fff;
    transition: all 0.15s ease-in-out;
}

.button-wrapper label:active {
    background: dimgray;
    border: solid 0.125rem #fff;
    transition: all 0.15s ease-in-out;
}

.button-wrapper label:checked {
    background: dimgray;
    border: solid 0.125rem blue;
    transition: all 0.15s ease-in-out;
}

.button-wrapper label:focus {
    background: dimgray;
    border: solid 0.125rem blue;
    transition: all 0.15s ease-in-out;
}

.btn-label:checked {
    background: dimgray;
    border: solid 0.125rem blue;
}